<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <!-- 必须声明 log4net 配置节 -->
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </configSections>

    <!-- log4net 配置 -->
    <log4net>
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file type="log4net.Util.PatternString" value="app.log" /> <!-- 日志文件保存路径 -->
            <appendToFile  value="true" /> <!-- 是否追加日志到文件 -->
        </appender>

        <root>
            <level value="INFO" /> <!-- 设置日志记录级别 -->
            <appender-ref ref="FileAppender" /> <!-- 将 appender 绑定到 root logger -->
        </root>
    </log4net>

</configuration>
